<section class="container">
  @if( data.appointments.length > 0){
  <div class="appointment-container">
    @for (appointment of data.appointments; track $index) {
    <div class="appointment-articles">
      <article class="appointment-card">
        <p class="title-text">
          Fecha: <span>{{ appointment.citation }}</span>
        </p>
        <p class="title-text">
          @if(userService.getterUser.type === 1){ Paciente:
          <span>{{ appointment.patient.name }}</span> } @else { Doctor:
          <span>{{ appointment.doctor.name }}</span>
          }
        </p>
        <p class="title-text">Estado: {{ handleStatus(appointment.state) }}</p>
        <div class="container-button">
          <button
            type="button"
            (click)="handleEdit(appointment)"
            class="button-appointment-card"
          >
            Editar
          </button>
        </div>
      </article>

      <article>
        @if(appointmentEditing === appointment){
        <form
          class="form-appointment-container"
          [formGroup]="editAppointmentForm"
          (ngSubmit)="handleSubmit()"
        >
          <label for="newState">
            Nuevo estado:
            <select
              class="custom-input"
              name="newState"
              id="newState"
              formControlName="newState"
            >
            <option value="" selected>Seleccione...</option>
            @if(userService.getterUser.type === 2){
              <option value="4">CANCELADA</option>
            }
            @else {
              <option value="4">CANCELADA</option>
              <option value="1">PENDIENTE</option>
              <option value="2">RECHAZADA</option>
              <option value="3">ACEPTADA</option>
            }
            </select>
            @if (editAppointmentForm.controls['newState'].errors) {
            <div class="validation-class">Campo requerido</div>
            }
          </label>
          <button
            type="submit"
            class="button-edit-card"
            [disabled]="!editAppointmentForm.valid"
          >
            Finalizar
          </button>
        </form>
        }
      </article>
    </div>

    }
  </div>
  } @if(data.appointments.length === 0){
  <div>No hay citas disponibles.</div>
  }
</section>
